= "Hello #{@user.full_name},"
%p= "#{@comment.user.type} #{@comment.user.full_name} has posted a new comment on your homework submission."

%p= @comment.content

%p.strong
  From everyone at The Iron Yard