- case notification.notifieable_type
  - when "Comment"
    %li= link_to "Comment by #{notification.notifieable.user.full_name}", notification.notifieable
  - when "Assignment"
    %li= link_to "Assignment posted in your Cohort", notification.notifieable
  - when "Submission"
    %li= link_to "#{notification.notifieable.student.first_name} has posted his submission to #{notification.notifieable.assignment.title}", notification.notifieable