- if current_user.cohort
  %h3= "My Students for #{current_user.cohort.listing}"
  %table.table.table-striped.table-hover
    %thead
      %th Name
      %th Email
      %th
      %th
      %th
    %tbody
      - unless @users.nil?
        - @users.each do |user|
          = render 'student', student: user
  %br
  %br
  %h3
    = "Our Assignments for #{current_user.cohort.listing}"
    = link_to "Add an Assignment", new_assignment_path, class: "btn btn-xs btn-success"

  %legend
  .row
    = render current_user.cohort.assignments unless nil
- else
  %h3 You aren't teaching any courses at the moment.
%br
%br
.row
  .col-md-4
    %h3 Where You Can Find Us
    %legend
    - unless Location.all.count == 0
      %ul
        - Location.all.each do |location|
          %li
            %div.btn.btn-xs.btn-list
              = location.where
          %br
  .col-md-4
    %h3 Courses We Provide
    %legend
    - unless Course.all.count == 0
      %ul
        - Course.all.each do |course|
          %li
            %div.btn.btn-xs.btn-list
              = course.title
          %br
    %br
  .col-md-4
    %h3 Upcoming Cohorts
    %legend
    - unless Cohort.all.count == 0
      %ul
        - Cohort.all.each do |cohort|
          %li
            %div.btn.btn-xs.btn-list
              = cohort.listing
            %div.hidden-date= cohort.start_date
          %br